.page {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    box-sizing: content-box;
    align-items: flex-start;
}

.content-table-box {
    display: flex;
    background: var(--background);
    padding-right: 1em;
}

.filters-box {
    padding-top: 3em;
    padding-bottom: 3em;
}

.filter-container {
    position: relative;

    font-family: var(--font-title);
}

.filter-dropdown-body {
    position: absolute;
/*    padding: 1em;*/
/*    height: 1em;*/
    left: 0;
    right: 0;
    margin-top: .25em;
    background: #ffff0033;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    border-radius: var(--border-radius);
/*    border: 1px var(--background-bright) solid;*/
    transform: translate(0, -10px);
    transition: .15s ease;

    background: var(--dropdown-background);
    box-shadow: 0 0 0 1px var(--dropdown-border-color), .25em .25em 1em #00000055;
    overflow: hidden;
}

.filter-dropdown-body.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
}

.filter-dropdown-item-box {
    background: var(--background);
    padding: 1em;
    height: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
/*    border-radius: var(--border-radius);*/
    transition: background .15s ease;
    background: var(--dropdown-background);
    border-top: 1px var(--dropdown-border-color) solid;
}

.filter-checkmark {
    display: flex;
    align-items: center;
    height: 100%;
    width: 1em;
    color: #48A859;
}

.filter-dropdown-item-box > div {
    display: flex;
}

.filter-dropdown-item-box:nth-child(1) {
    border-top: none;
}

.filter-dropdown-item-box:hover {
    background: var(--dropdown-background-hover);
}

.filter-box {
    background: var(--background);
    padding: 1em;
    height: 1em;

    display: flex;
/*    align-items: flex-start;*/
    align-items: center;
    justify-content: space-between;
    transition: background .15s ease;
    line-height: 1em;
    vertical-align: middle;
    text-align: center;
/*    margin-bottom: .2em;*/
    user-select: none;
    border-radius: var(--border-radius);
}

.filter-box.active {
    background: var(--dropdown-background);
}

.filter-box:hover {
    background: var(--background-light);
}

.filter-icon, .filter-dropdown-item-icon {
    border: 1px var(--accent-color) solid;
    color: var(--accent-color);
    background: var(--accent-color-darker);
    aspect-ratio: 1 / 1;
    height: 1em;
    padding: .5em;
    margin: -.5em;
    margin-right: 1em;
    border-radius: .375rem;
}

.filter-content {
    display: flex;
    align-items: center;
    user-select: none;
}

.filter-dropdown {
    display: flex;
    align-items: center;
    height: 100%;
    width: 1em;
}

.filter-dropdown > svg {
    height: 1em;
    width: 1em;
}

.filter-box > div {
    display: flex;
}

.content-box {
    width: var(--read-width);
    max-width: var(--read-width);
    min-width: var(--read-width);
    flex-grow: 1;
    box-sizing: content-box;
    margin-left: 1em;
}

.content-table-list {
    width: fit-content;
    user-select: none;
    font-family: var(--font-title);
    padding-left: 1em;
}

.content-table-element {
    width: fit-content;
    white-space: nowrap;
    color: var(--content-table-element-color);
    transition: .15s ease;
}

.content-table-element:hover {
    color: var(--content-table-element-hover-color);
}

.content-table-element > i {
    color: gray;
    font-family: monospace;
    font-size: 80%;
    font-style: normal;
}

.content-table-group-box {
}

.content-table-group {
    margin-left: calc(.5em - 1px);
    border-left: 2px var(--content-table-group-border-color) solid;
    padding-left: .7rem;
    transition: .15s ease;
    overflow: hidden;
}

.content-table-group.visible {
}

.content-table-group.hidden {
    height: 0;
}

.content-table-group-title-box {
    display: flex;
    font-weight: bold;
    align-items: center;
/*    justify-content: space-between;*/
    color: var(--content-table-opened-element-color);
}

.content-table-group-title-icon {
    height: 1em;
    width: 1em;
    margin-right: .25em;
    transform: rotate(-90deg);
    transition: .15s ease;
}

.content-table-group-title-icon.expanded {
    transform: rotate(0deg);
}

.content-table-group-title {
    color: var(--content-table-opened-element-color);
}