

.ae-i {
/*    font-style: normal;*/
/*    font-weight: 100;*/
    color: var(--unaccent-foreground);
}

.ae-b {
/*	font-weight: bold;*/
/*    font-style: normal;*/
/*    font-family: var(--font-title);*/
}

.ae-code {
    border-color: transparent;
    color: var(--foreground);
    background: var(--code-background);
    border: 1px var(--border-color) solid;
    border-radius: var(--border-radius);
    padding: .1em .3em;
}

.md-strong {
    font-weight: bold;
}

.md-emphasis {
    font-style: italic;
}

.md-inlineCode {
    border-color: transparent;
    color: var(--foreground);
    font-family: var(--font-code);
    font-size: 80%;
    background: var(--code-background);
    border: 1px var(--border-color) solid;
    border-radius: var(--border-radius);
    padding: .05em .3em;
}

.md-heading {
    font-family: var(--font-title);
    margin-bottom: .1em;
    margin-top: .4em;
    margin-left: -.5em;
}

.md-delete {
    text-decoration: line-through;
    color: var(--unaccent-color);
}

h1.md-heading {
}

h2.md-heading {
}

.md-paragraph {
    display: block;
    width: fit-content;
}

.md-text {
    white-space: break-spaces;
    line-height: 1.4;
}

.md-listItem > * {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.md-link {
    color: var(--accent-color-bright);
    transition: .15s ease;
}

.md-link:hover {
    color: var(--accent-color-brighter);
}

.md-list {
    display: block;
/*    border: 1px solid red;*/
}

.md-listItem {
    display: block;
    list-style-type: disc;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 25px;
    unicode-bidi: isolate;
}

.md-table {
    display: table;
    border: 1px var(--border-color) solid;
/*    border-radius: var(--border-radius);*/
    overflow: hidden;
/*    margin-left: auto;*/
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.md-tableRow {
    display: table-row;
    margin-top: 1px;
    background: transparent;
}

.md-tableCell {
    display: table-cell;
    border: 1px var(--border-color) solid;
    padding: .4em .5em;
    background: transparent;
}

.md-blockquote {
    display: block;
    border-left: 2px var(--accent-color) solid;
    padding-left: .5rem;
}

.md-inlineMath  {
    display: inline-block;
    font-family: Times New Roman, Symbola, sans-serif;
}

.md-html {}


.md-thematicBreak {
    width: calc(100% + 2em);
    height: 2px;
    border-radius: 2px;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: .1;
    background: var(--foreground);
}