@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    interpolate-size: allow-keywords;
    --font-title: "Geologica", serif;
    --font-code:  "Atkinson Hyperlegible Mono", monospace;
    --border-radius: 5px;
    --read-width: 700px;

    /* Theme colors */
    --background: #0a0a0a;
    --foreground: #ededed;

    --accent-color-brighter: #97cbff;
    --accent-color-bright: #52a8ff;
    --accent-color: #0072f5;
    --accent-background: #2d2d2d;
    --accent-color-darker: #0E253F;
    --unaccent-color: #888888;

    --border-color: #2d2d2d;

    --navbar-background: #1a1a1a;
    --navbar-item-color: #888888;

    --filter-background-hover: #1a1a1a;
    --filter-low: #48A859;
    --filter-low-background: #15331A;
    --filter-normal: #A58E47;
    --filter-normal-background: #332B15;
    --filter-high: #A34747;
    --filter-high-background: #331515;

    --dropdown-background: #111;
    --dropdown-background-hover: #1a1a1a;
    --dropdown-border-color: #1a1a1a;

    --dropdown-background-hover: #1a1a1a;

    /* Code colors */
    --code-label-color: var(--unaccent-color);
    --code-default: inherit;
    --code-background: #1a1a1a;
    --code-keyword: #f75f8f;
    --code-function: #bf7af0;
    --code-string: #62c073;
    --code-triple-quoted-string: var(--code-string);
    --code-punctuation: #ccc;
    --code-class-name: #52a8ff;
    --code-comment: #a1a1a1;
    --code-var: #f9ae56;
    --code-parameter: var(--code-var);
    --code-number: var(--code-var);
    --code-operator: #f96d55;
}


html, body {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
}

body {
    position: static;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    background: var(--accent-background);
    color: var(--foreground);
    border: none;
    outline: none;
}

.flex {
    display: flex;
}

.flex.items-center {
    align-items: center;
}