

.page {
	display: flex;
	width: 100%;
	justify-content: center;
	height: fit-content;
}

.main {
	display: flex;
	width: var(--read-width);
    flex-direction: column;
}

.completed-box {
	display: flex;
	flex-direction: column;
}

.progress-bar-box {
	display: flex;
	position: relative;
	width: 100%;
	min-width: 5em;
	border-radius: var(--border-radius);
	border: 2px var(--accent-color-bright) solid;
/*	box-shadow: 0 0 0 2px var(--accent-color-bright);*/
	background: var(--accent-color-darker);
	font-family: var(--font-title);
	text-align: center;
	justify-content: center;
	text-shadow: 
		 1px  1px 0#000,
		 1px -1px 0#000,
		-1px  1px 0#000,
		-1px -1px 0#000,

		 0px  1px 0#000,
		 1px  0px 0#000,
		 0px -1px 0#000,
		-1px  0px 0#000
		;

}

.progress-bar-fill {
	position: absolute;
	left: 0;
    background: 
    var(--accent-color-bright);

/*	background: linear-gradient(45deg, var(--accent-color) 25%, var(--accent-color-bright) 25%, var(--accent-color-bright) 50%, var(--accent-color) 50%, var(--accent-color-bright) 75%, var(--accent-color-bright) 100%);*/
	background-size: 40px 40px;
	height: 100%;
	width: 33%;

	transform-origin: left;
	animation: progress-bar-filling 2s ease-in;

/*	transform: matrix(1, 0, 0, 1, 0, 0);*/
}

/*.progress-bar-unfill {
	position: absolute;
	right: 0;
    background: linear-gradient(45deg, 
    		var(--accent-color-bright) 25%,
    		var(--accent-color) 25%,
    		var(--accent-color) 50%,
    		var(--accent-color-bright) 50%,
    		var(--accent-color-bright) 75%,
    		var(--accent-color) 75%);

	background-size: 40px 40px;
	height: 100%;
	width: 33%;

	transform-origin: left;
	transition: .3s ease-in;

	animation: progress-bar-filling 5s linear;
}*/


@keyframes progress-bar-filling {

	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}


.grid-3x {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2x {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.articles-grid {
	margin: 1em 0;
}

.article-box {
	user-select: none;
	display: block;
	border: 1px var(--border-color) solid;
	border-radius: var(--border-radius);
	background: var(--dropdown-background);
	padding: 1em;
	transition: .1s ease-in;
}

.article-box > h2 {
	font-size: 20px;
	margin-top: 0;
}

.article-box:hover {
	box-shadow: 0 0 0 3px var(--border-color);
	background: var(--dropdown-background-hover);
}

.article-box:active {
	transform: scale(.95);
}