

.page {
	display: flex;
	width: 100%;
	justify-content: center;
	height: fit-content;
}

.main {
	display: flex;
	width: var(--read-width);
    flex-direction: column;
}

.completed-box {
	display: flex;
	flex-direction: column;
}

.progress-bar-box {
	display: flex;
	position: relative;
	width: 100%;
	min-width: 5em;
	border-radius: var(--border-radius);
	border: 2px var(--accent-color-bright) solid;
/*	box-shadow: 0 0 0 2px var(--accent-color-bright);*/
	background: var(--accent-color-darker);
	font-family: var(--font-title);
	text-align: center;
	justify-content: center;
	text-shadow: 
		 1px  1px 0#000,
		 1px -1px 0#000,
		-1px  1px 0#000,
		-1px -1px 0#000,

		 0px  1px 0#000,
		 1px  0px 0#000,
		 0px -1px 0#000,
		-1px  0px 0#000
		;

}

.progress-bar-fill {
	position: absolute;
	left: 0;
    background: 
    var(--accent-color-bright);

/*	background: linear-gradient(45deg, var(--accent-color) 25%, var(--accent-color-bright) 25%, var(--accent-color-bright) 50%, var(--accent-color) 50%, var(--accent-color-bright) 75%, var(--accent-color-bright) 100%);*/
	background-size: 40px 40px;
	height: 100%;
	width: 33%;

	transform-origin: left;
	animation: progress-bar-filling 2s ease-in;

/*	transform: matrix(1, 0, 0, 1, 0, 0);*/
}

/*.progress-bar-unfill {
	position: absolute;
	right: 0;
    background: linear-gradient(45deg, 
    		var(--accent-color-bright) 25%,
    		var(--accent-color) 25%,
    		var(--accent-color) 50%,
    		var(--accent-color-bright) 50%,
    		var(--accent-color-bright) 75%,
    		var(--accent-color) 75%);

	background-size: 40px 40px;
	height: 100%;
	width: 33%;

	transform-origin: left;
	transition: .3s ease-in;

	animation: progress-bar-filling 5s linear;
}*/


@keyframes progress-bar-filling {

	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}


.grid-3x {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-2x {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.articles-grid {
	margin: 1em 0;
}

.article-box {
	user-select: none;
	display: block;
	border: 1px var(--border-color) solid;
	border-radius: var(--border-radius);
	background: var(--dropdown-background);
	padding: 1em;
	transition: .1s ease-in;
	transform: scale(0);
    box-shadow: 0 0 10px #000000 inset;
	animation: .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) show-article-box forwards;
}

.article-box > h2 {
	font-size: 20px;
	margin-top: 0;
}

.article-box:hover {
	box-shadow: 0 0 10px #00000022 inset, 0 0 0 3px var(--border-color);
	background: var(--dropdown-background-hover);
}

.article-box:active {
	transform: scale(.95);
}


@keyframes show-article-box {
	0% {
		opacity: 0;
		transform: scale(.7) translateY(50%);
	}
	100% {
		opacity: 1;
		transform: scale(1)  translateY(0);
	}
}

.tag-prop {
	display: flex;
	align-items: center;
}

.tag-prop > svg {
	margin-right: .5em;
}



@media(width <= 1100px) {

	.main {
		width: calc(100% - 6em);
		padding: 1em 3em;
	}

	.grid-2x, .grid-3x {
		grid-template-columns: 1fr;
	}
}


.timer-box {
/*	pointer-events: none;*/
/*	user-select: none;*/
	font-size: 200%;
}


.available-time-header {
	display: flex;
}

.edit-icon {
	user-select: none;
	color: var(--unaccent-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	aspect-ratio: 1 / 1;
	margin-left: .25em;
	cursor: pointer;
	transition: .15s ease-in;
}

.edit-icon:hover {
	color: var(--foreground);
}

.edit-icon:active {
	transform: scale(.9);
}

.date-input {
	font-size: 150%;
	font-family: var(--font-title);
	border-radius: var(--border-radius);
	padding: .25em .5em;
}