.navbar {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;

    display: flex;
    flex-direction: row;
    border-bottom: 1px var(--border-color) solid;
    justify-content: center;

    background: var(--navbar-background);
    color: var(--foreground);

    font-family: var(--font-title);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    font-size: 14px;
    height: 1em;
    padding: 0 .5em 0 .75em;
    border-radius: .3em;
    height: 2.25em;
    margin: .5em;
}

.item {
    user-select: none;

    display: flex;    
    align-content: center;
    align-items: center;

    font-size: 14px;
    padding: .15em .75em;
    margin: .15em 1em;
    border-radius: 1em;
    color: var(--navbar-item-color);
    transition: color .15s ease;
    white-space: nowrap;
}

.item:hover {
    color: var(--foreground);
}

.active, .active:hover {
    color: var(--accent-color-bright);
}

.content-box {
    display: flex;
    align-items: center;
}

.content-box > svg {
    height: 1em;
    width: 1em;
}

.head {
    display: flex;
    align-items: center;
    user-select: none;
    font-weight: bold;
    text-decoration: none;
    padding: .15em .75em;
}

.item > div > span {
    margin-left: .5em;
}

.item > div > svg {
    height: 1em;
}

.navbar-head {
    padding: 1em 2em;
    white-space: nowrap;
}

.search-box {
    display: flex;
    height: 100%;
    float: inline-end;
}

