

.locker {
	position: fixed;
	left: 0;
	top: 0;
	background: #000000aa;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(2px);
	transition: background .2s linear;
	z-index: var(--locker-z);
}

.locker.hide {
	pointer-events: none;
	background: transparent;
	backdrop-filter: blur(0px);
}

.center {
	min-height: 10em;
	background: red;
	position: fixed;
	width: var(--read-width);
	top: 30%;
	transition: .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	height: fit-content;
}

.box {
	user-select: none;
	position: fixed;
	top: 30%;

	min-height: 10em;
	
	width: var(--read-width);

	padding: 1em 2em;
	background: var(--popup-background);
	border-radius: var(--border-radius);

	box-shadow: 0 0 0 2px var(--border-color);
	transition: transform .2s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity .2s;
	z-index: var(--popup-z);
}


.box.visible {
	transform: translate(-2em, -50%) scale(1);
}

.box.hide {
	pointer-events: none;
	user-select: none;
	transform: translate(-2em, -50%) scale(0.7);
	opacity: 0;
}



@media(width <= 1100px) {
	.box {
		width: calc(90vw - 4em);
	}
}