

.box {
	display: flex;
	position: relative;
	width: 100%;
	min-width: 5em;
	height: 1.25em;
	border-radius: var(--border-radius);
	border: 2px var(--accent-color-bright) solid;
	background: var(--accent-color-darker);
	font-family: var(--font-title);
	text-align: center;
	justify-content: center;
	text-shadow: 
		 1px  1px 0#000,
		 1px -1px 0#000,
		-1px  1px 0#000,
		-1px -1px 0#000,

		 0px  1px 0#000,
		 1px  0px 0#000,
		 0px -1px 0#000,
		-1px  0px 0#000
		;
}

.fill {
	position: absolute;
	left: 0;
    background: var(--accent-color-bright);
	background-size: 40px 40px;
	height: 1.25em;
	width: 33%;
	transform-origin: left;
	animation: progress-bar-filling 2s ease-in;
}

@keyframes progress-bar-filling {

	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}