

.box {
	font-size: 110%;
	font-family: var(--font-title);
	display: flex;
	border-radius: var(--border-radius);
	flex-direction: column;
	width: 100%;
	transition: .15s ease;
}


.item-box {
	cursor: pointer;
	display: flex;
	user-select: none;
	padding: .5em .5em;
	margin: .5em 0em;
	transition: .15s ease;
	border-radius: var(--border-radius);
	background: var(--background-light);
	border: 1px var(--border-color) solid;
	align-items: center;
}

.item-box.uncompleted:hover {
	background: var(--background-bright);
}

.item-box.wrong.selected {
	color: var(--error-color);
	background: var(--error-background);
	border-color: var(--error-color);
	cursor: auto;
	animation: shake 0.15s ease-in-out;
}

.item-box.wrong-unselected.selected {
	cursor: auto;
	color: var(--border-color);
}

.item-box.correct.selected {
	color: var(--correct-color);
	background: var(--correct-background);
	border-color: var(--correct-color);
	cursor: auto;
	animation: scale 0.5s ease;
}


.item-box.selected > .item-letter {
	background: inherit;
	color: inherit;
	border-color: inherit;
}

.item-letter {
	width: 1em;
	height: 1em;
	max-width: 1em;
	aspect-ratio: 1 / 1;
	padding: .5em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: var(--accent-color-darker);
	color: var(--accent-color);
	border: 1px var(--accent-color) solid;
	border-radius: var(--border-radius);
	margin-right: .5em;
}


@keyframes shake {
	0% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(5px) rotate(1deg); }
	50% { transform: translate(0, 0) rotate(0eg); }
	75% { transform: translate(-5px) rotate(-1deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes scale {
	0% { transform: scale(1); }
	25% { transform: scale(1.03); }
	50% { transform: scale(.99); }
	100% { transform: scale(1); }
}